{#
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-License-Identifier: AGPL-3.0-or-later
#}
{% extends 'base.html.twig' %}

{% block body %}
  <main class="container">
    <h1 class="h4">{% trans %}Edit your personal information{% endtrans %}</h1>
    {{ form_start(form, {'method': 'post', 'action': path('app_profile_edit')}) }}
    {{ form_row(form.email) }}
    {{ form_row(form.username) }}
    {{ form_row(form.fullname) }}
    {{ form_row(form.homepage) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
  </main>
{% endblock %}

