{#
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-License-Identifier: AGPL-3.0-or-later
#}
{% extends "base.html.twig" %}

{% block body %}
  <main class="container">
    <h1 class="h4">Profile - {{ app.user.username }}</h1>

    <div class="card mb-4">
      <div class="card-header">
        Personal information of {{ app.user.fullname }}
        <a href="{{ path('app_profile_edit') }}" class="btn-success btn float-right">Edit</a>
      </div>
      <div class="card-body">
        <div><strong>Email:</strong> {{ app.user.email }}</div>
        <div><strong>Homepage:</strong> {{ app.user.homepage }}</div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header d-flex">
        {% trans %}Content{% endtrans %}
        <a class="ml-auto button" href="{{ path('app_content_add') }}">{% trans %}Upload a new package{% endtrans %}</a>
      </div>
      <div class="card-body">
        {% for content in app.user.contents %}
          <div class="product">
            <a href="{{ path('app_content_edit', {'id': content.id}) }}">{{ content.name }}</a>
          </div>
        {% else %}
        <div class="h-25">{% trans %}Nothing yet{% endtrans %}</div>
        {% endfor %}
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-header">{% trans %}Security{% endtrans %}</div>
      <div class="card-body">
        {{ form(form) }}
      </div>
    </div>
  </main>
{% endblock body %}
