{#
SPDX-FileCopyrightText: (C) 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-LicenseRef: AGPL-3.0
#}
<?xml version="1.0"?>
<ocs>
  <meta>
    <status>ok</status>
    <statuscode>100</statuscode>
    <message></message>
    <totalitems>{{ categories | length }}</totalitems>
  </meta>
  <data>
    {% for category in categories %}
      <category>
        <id>{{ category.id }}</id>
        <name>{{ category.name }}</name>
        <display_name>{{ category.name }}</display_name>
        {% if category.xdgType is not null %}
        <xdg_type>{{ category.xdgType }}</xdg_type>
        {% endif %}
        {% if category.parent is not null %}
          <parent_id>{{ category.parent.id }}</parent_id>
        {% endif %}
      </category>
    {% endfor %}
  </data>
</ocs>
