{#
SPDX-FileCopyrightText: (C) 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-LicenseRef: AGPL-3.0
#}
<?xml version="1.0"?>
<ocs>
  <meta>
    <status>ok</status>
    <statuscode>100</statuscode>
    <message></message>
    <totalitems>{{ distributions | length }}</totalitems>
  </meta>
  <data>
    {% for distribution in distributions %}
      <distribution>
        <id>{{ distribution.id }}</id>
        <name>{{ distribution.name }}</name>
      </distribution>
    {% endfor %}
  </data>
</ocs>
