{#
SPDX-FileCopyrightText: (C) 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-LicenseRef: AGPL-3.0
#}
<?xml version="1.0"?>
<ocs>
  <meta>
    <status>ok</status>
    <statuscode>100</statuscode>
    <message></message>
  </meta>
  <data>
    <content details="download">
      <downloadway>1</downloadway>
      <downloadprice>0</downloadprice>
      <downloadlink>{{ app.request.getSchemeAndHttpHost() }}{{ vich_uploader_asset(artifact) }}</downloadlink>
      <minetype>image/jpeg</minetype>
      <downloadname>{{ artifact.fileName }}</downloadname>
      <downloadsize>{{ artifact.fileSize }}</downloadsize>
      <downloadtags>data##mimetype=image/jpeg</downloadtags>
    </content>
  </data>
</ocs>
