{#
SPDX-FileCopyrightText: (C) 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-LicenseRef: AGPL-3.0
#}
<?xml version="1.0"?>
<ocs>
  <meta>
    <status>ok</status>
    <statuscode>100</statuscode>
    <message></message>
  </meta>
  <data>
    <content details="full">
      <id>{{ content.id }}</id>
      <name>{{ content.name }}</name>
      <version>{{ content.version }}</version>
      <typeid>{{ content.type.id }}</typeid>
      <typename>{{ content.type.name }}</typename>
      <language></language>
      <personid>{{ content.authorName }}</personid>
      <changed>{{ content.updated | date("Y-m-d\TH:i:s\P") }}</changed>
      <created>{{ content.created | date("Y-m-d\TH:i:s\P") }}</created>
      <downloads>2</downloads>
      <score>67</score>
      <description>{{ content.description }}</description>
      <summary>{{ content.summary }}</summary>
      <changelog></changelog>
      <comments>0</comments>
      <previewpic1>{{ app.request.getSchemeAndHttpHost() }}{{ vich_uploader_asset(content) }}</previewpic1>
      <smallpreviewpic1>{{ app.request.getSchemeAndHttpHost() }}{{ vich_uploader_asset(content) }}</smallpreviewpic1>
      {% for artifact in content.artifacts %}
        <downloadway{{ loop.index }}>{{ loop.index }}</downloadway{{ loop.index }}>
        <downloadprice{{ loop.index }}>0</downloadprice{{ loop.index }}>
        <downloadlink{{ loop.index }}>{{ app.request.getSchemeAndHttpHost() }}{{ vich_uploader_asset(artifact) }}</downloadlink{{ loop.index }}>
        <downloadname{{ loop.index }}>{{ artifact.fileName }}</downloadname{{ loop.index }}>
        <downloadsize{{ loop.index }}>{{ artifact.fileSize }}</downloadsize{{ loop.index }}>
      {% endfor %}
    </content>
  </data>
</ocs>
