{#
SPDX-FileCopyrightText: (C) 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-LicenseRef: AGPL-3.0
#}
<?xml version="1.0"?>
<ocs>
  <meta>
    <status>ok</status>
    <statuscode>100</statuscode>
    <message></message>
    <totalitems>{{ licenses | length }}</totalitems>
  </meta>
  <data>
    {% for license in license %}
      <license>
        <id>{{ license.id }}</id>
        <name>{{ license.name }}</name>
        <link>https://spdx.org/licenses/{{ license.ref }}.html</link>
        <ref>{{ license.ref }}</ref>
      </license>
    {% endfor %}
  </data>
</ocs>
