{#
SPDX-FileCopyrightText: (C) 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-LicenseRef: AGPL-3.0
#}
<?xml version="1.0"?>
<ocs>
  <meta>
    <status>ok</status>
    <statuscode>100</statuscode>
    <message></message>
    <totalitems>{{ contentCount }}</totalitems>
    <itemsperpage>{{ itemsPerPage }}</itemsperpage>
  </meta>
  <data>
    {% for content in contents %}
      <content details="summary">
        <id>{{ content.id }}</id>
        <name>{{ content.name }}</name>
        <version>{{ content.version }}</version>
        <changed>{{ content.updated | date("Y-m-d\TH:i:s\P") }}</changed>
        <created>{{ content.created | date("Y-m-d\TH:i:s\P") }}</created>
        <typeid>{{ content.type.id }}</typeid>
        <typename>{{ content.type.name }}</typename>
        <language></language>
        <personid>{{ content.authorName }}</personid>
        <downloads>5</downloads>
        <score>50</score>
        <comments>0</comments>
        <ghns_excluded>0</ghns_excluded>
        <preview1>{{ app.request.getSchemeAndHttpHost() }}{{ path('app_content_view', {'id': content.id}) }}</preview1>
        <detailpage>{{ app.request.getSchemeAndHttpHost() }}{{ path('app_content_view', {'id': content.id}) }}</detailpage>
        <tags>cc0</tags>
        <previewpic1>{{ app.request.getSchemeAndHttpHost() }}{{ vich_uploader_asset(content) }}</previewpic1>
        <smallpreviewpic1>{{ app.request.getSchemeAndHttpHost() }}{{ vich_uploader_asset(content) }}</smallpreviewpic1>
        {% for artifact in content.artifacts %}
          <downloadway{{ loop.index }}>1</downloadway{{ loop.index }}>
          <downloadprice{{ loop.index }}>0</downloadprice{{ loop.index }}>
          <downloadlink{{ loop.index }}>{{ app.request.getSchemeAndHttpHost() }}{{ vich_uploader_asset(artifact) }}</downloadlink{{ loop.index }}>
          <downloadname{{ loop.index }}>{{ artifact.fileName }}</downloadname{{ loop.index }}>
          <downloadsize{{ loop.index }}>{{ artifact.fileSize }}</downloadsize{{ loop.index }}>
          <downloadtags{{ loop.index }}>data##mimetype=image/jpeg</downloadtags{{ loop.index }}>
        {% endfor %}
      </content>
    {% endfor %}
  </data>
</ocs>
