{#
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-License-Identifier: AGPL-3.0-or-later
#}
{% extends 'base.html.twig' %}

{% block body %}
  <main class="container">
    <form method="post">
      {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}

      {% if app.user %}
        <div class="mb-3">
          You are already connected using {{ app.user.username }},
          <a href="{{ path('app_logout') }}">Logout</a>
        </div>
      {% endif %}

      <h1 class="h4 mb-3 font-weight-normal">Please log in</h1>
      <label for="inputEmail" class="mt-3 mb-1">Email</label>
      <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required
             autofocus/>

      <label for="inputPassword" class="mt-3 mb-1">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" required/>

      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

      <div class="d-flex justify-content-between mt-3">
        <a class="btn btn-outline-secondary" href="{{ path('app_security_reset_password') }}">Forgot your password?</a>

        <button class="btn btn-primary" type="submit">
          Login
        </button>
      </div>
    </form>
  </main>
{% endblock %}
