{% extends 'base.html.twig' %}

{% block body %}
  <main class="container">
    <h1 class="h4">Register</h1>
    {{ form_start(form, {'method': 'post', 'action': path('app_security_registration')}) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.username) }}
    {{ form_row(form.fullname) }}
    {{ form_row(form.homepage) }}

    <h2 class="h4">TODO GDPR</h2>
    {{ form_row(form.termOfUse) }}
    {{ form_row(form.captcha) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
  </main>
{% endblock %}
