{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
  <main class="container mt-4">
    An email was send to {{ email }}. It contains an activation link, that you need to click to activate
    your account. Check your spam, if you don't see it.
  </div>
{% endblock %}


