{#
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-License-Identifier: AGPL-3.0-or-later
#}
{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}
{% block description %}The homepage of this website{% endblock %}
{% block image %}{% endblock %}
{% block canonical %}{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-3">
      {% for category in category.childrens %}
        <a href="{{ path('app_category', {'id': category.id}) }}">{{ category.name }}</a>
      {% endfor %}
    </div>
    <div class="col-9">
      <h1 class="h4">{{ category.name }}</h1>
    </div>
  </div>
{% endblock %}
