{#
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-License-Identifier: AGPL-3.0-or-later
#}
{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}
{% block description %}The homepage of this website{% endblock %}
{% block image %}{% endblock %}
{% block canonical %}{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-3">
      {% for category in categories %}
        <a href="{{ path('app_category', {'id': category.id}) }}">{{ category.name }}</a>
      {% endfor %}
    </div>
  </div>
  <main class="container">
    <h2 class="h3">Featured</h2>
    <div class="row">
      {% for content in featuredContent %}
        <div class="col-3 d-flex">
          <img src="{{ vich_uploader_asset(content) }}" class="img-fluid" />
          <div>
            <a class="h4" href="#">{{ content.name }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}
