{% extends 'base.html.twig' %}

{% block title %}Hello ContentController!{% endblock %}

{% block body %}
  <main class="container">
    <h1 class="h4">{{ title }}</h1>
    {{ form_start(form, {'method': 'post'}) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
    <script>
      let addTagButton = document.createElement('button');
      addTagButton.innerText = 'Add a artifact';
      addTagButton.type = "button";
      addTagButton.classList.add('button');

      let newLinkLi = document.createElement('li');
      newLinkLi.append(addTagButton);

      let collectionHolder = document.querySelector('#content_artifacts');
      collectionHolder.append(newLinkLi);
      collectionHolder.dataset.index = collectionHolder.querySelector('input')
        ? collectionHolder.querySelector('input').size.toString(10)
        : 0;

      newLinkLi.addEventListener('click', function (e) {
        const prototype = collectionHolder.dataset.prototype;
        const index = collectionHolder.dataset.index;
        let newForm = prototype;
        newForm = newForm.replace(/__name__/g, index);
        collectionHolder.dataset.index = index + 1;
        let newFormLi = document.createElement('li');
        newFormLi.innerHTML = newForm;
        newLinkLi.before(newFormLi);
      });
    </script>
  </main>
{% endblock %}
