{#
SPDX-FileCopyrightText: (C) 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-LicenseRef: AGPL-3.0
#}
<?xml version="1.0"?>
<providers>
  <provider>
    <id>localhost</id>
    <location>{{ app.request.getSchemeAndHttpHost() }}/api/v1/</location>
    <name>localhost</name>
    <termsofuse>{{ app.request.getSchemeAndHttpHost() }}/content/terms</termsofuse>
    <register>{{ app.request.getSchemeAndHttpHost() }}/register</register>
    <services>
      <content ocsversion="1.6"/>
    </services>
  </provider>
</providers>
