{#
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-License-Identifier: AGPL-3.0-or-later
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% trans %}KDE's Applications{% endtrans %}{% endblock %}</title>
  <meta name="author" content="KDE Community"/>

  {% if block('description') is defined %}
    <meta name="description" content="{{ block('description') }}"/>

    <!-- Facebook open graph configuration -->
    <meta property="og:title" content="{{ block('title') }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ block('canonical') }}"/>
    <meta property="og:description" content="{{ block('description') }}"/>
    <meta property="og:site_name" content="KDE.org">
    <meta property="og:image" content="{{ block('image') }}"/>

    <!-- Twitter card configuration -->
    <meta name="twitter:card" content="{% block imageSize %}summary_large_image{% endblock %}"/>
    <meta name="twitter:site" content="@kdecommunity"/>
    <meta name="twitter:title" content="{{ block('title') }}"/>
    <meta name="twitter:description" content="{{ block('description') }}"/>
    <meta name="twitter:image" content="{{ block('image') }}"/>
  {% endif %}

  <!-- Icons -->
  <link rel="apple-touch-icon" href="https://kde.org/aether/media/180x180.png"/>
  <link rel="shortcut icon" href="https://kde.org/aether/media/192x192.png"/>

  <link href="https://cdn.kde.org/aether-devel/bootstrap.css" rel="stylesheet"/>
  <link href="https://cdn.kde.org/breeze-icons/icons.css" rel="stylesheet"/>

  {% block hreflang %}
  {% endblock %}
</head>
<body>
<header id="KGlobalHeader" class="clearfix header">
  <nav class="navbar navbar-expand-sm">
    <a class="kde-logo navbar-brand active" href="{{ path('app_homepage') }}"><span class="sr-only">{% trans %}Homepage{% endtrans %}</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse">
      <ul class="ml-auto navbar-nav">
        <li class="nav-item">
          {% if app.user %}
            <a class="nav-link" href="{{ path('app_profile') }}">{% trans %}Profile{% endtrans %}</a>
          {% else %}
            <a class="nav-link" href="{{ path('app_security_registration') }}">{% trans %}Register{% endtrans %}</a>
            <a class="nav-link" href="{{ path('app_login') }}">{% trans %}Login{% endtrans %}</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>
</header>

{% block body %}{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
